.wrapper{
    width: 400px;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.header{
    background-color: #141f40;
    height: 100px;
}


/* main-start */
.main{
    height: 250px;
    width: 100%;
}

.left{
    background-color: #80bfa8;
    width: 150px;
    height: 100%;
    float: left;
}

.right{
    width: 250px;
    height: 100%;
    float: right;
}
.right_top{
    width: 100%;
    height: 150px;
}
.right_bottom{
    background-color: #8c2727;
    height: 100px;
    width: 100%;
}
/* r=right, t=top, l=left, b=buttom */
.r_t_l{
    width: 150px;
    float: left;
}
.r_t_r{
    background-color: #ff9e6b;
    width: 100px;
    height: 100%;
    float: right;
}
.r_t_l_t{
    background-color: #dbd400;
    height: 50px;
    width: 100%;
}
.r_t_l_b{
    background-color: #0093b7;
    height: 100px;
    width: 100%;
}
/* main-end */

.footer{
    background-color: #d98d30;
    height: 100px;
    width: 100%;
}
